// Bariol
@font-face {
    font-family: 'Bariol';
    src: url('../fonts/Bariol.ttf') format('truetype');
}
@font-face {
    font-family: 'Bariol Bold';
    src: url('../fonts/Bariol_Bold.otf') format('truetype');
}


