.index {
    background: $color-gallery url('../img/index/background_dots.png') no-repeat 0 50px;
    background-size: contain;
    padding: 90px 0 0;
    // phone wrapper
    #phoneWrap {
         position:relative;   
         @include transition(all, .5s, ease);
        .phone-wrap {        
            margin: auto;
            display: block;
            @include transition(all, .5s, ease);
            img {
                max-width: 100%;
                max-height: 100%;
                display: block; 

                &.imglogo {
                    width: auto;
                    margin: 0 auto 10%;
                }
            }
            .content-wrap {
                top: 15%;
                width: 100%;
                max-width: 390px;
                left: 50%;
                transform: translate(-50%, 0);
                padding: 0;
                text-align: center;
                position: absolute;
                
                p {
                    &.welcomeText { 
                        font-size:23px;
                        line-height: 30px;
                        font-family: $fontBariol;
                        color: $color-mine-shaft; 
                        margin: 0 0 10%;
                    }
                }


                .button-group {
                    //buttons extends
                    %cta-primary {
                        background-color: $colorPurple;
                        color: $bgWhite;
                        font-family: $fontBariolBold;
                        font-size:22px;
                    }
                    %cta-secondary {
                        background-color: $color-mine-shaft;
                        color: $bgWhite;
                        font-family: $fontBariolBold;
                        font-size:22px;
                    }                    
                    button, 
                    a { 
                        display: block;
                        margin: 0 auto 4%;
                        width: 100%;
                        max-width: 245px;
                        padding: 3% 10%;
                        border: 0;
                        text-decoration: none;
                        @include border-radius(8px);
                        @include box-shadow(0, 0, 10px, #bfbfbf);

                        small { 
                            display: block;
                            font-size: 13px; 
                        }

                        &#bePartner {
                            @extend %cta-primary;
                            &:active,
                            &:hover
                            {
                                background-color:$color-mariner;
                            }
                        }
                        &#beMember {
                            @extend %cta-secondary;
                            &:active,
                            &:hover
                            {
                                background-color:$color-mariner;
                            }                        
                        }                                                
                    }                    
                }                    
            }
        }
        .img-responsive{ margin: 0 auto; }
    }
    // form wrapper
    #formWrap {
        display: none;
        margin: 23px 0 0;
        .form-wrap {
            max-width: 480px;            
            padding: 40px;
            border: 1px solid $color-pearl-bush;             
            @include background-opacity($color-linen, 1);
            @include transition(all, .5s, ease);
            @include border-radius(10px);
            @include box-shadow(0, 0, 20px, #bfbfbf);
            
            .content-wrap{     
                h1 {
                    font-size: 27px;
                    line-height: 35px;
                    color: $colorPurple;
                    font-family: $fontBariolBold;
                }
                h2 {
                    color: $color-mine-shaft;
                    font-size: 25px;
                    line-height: 30px;
                    margin: 5px 0 30px;
                }

                .form-fields {                
                    margin-bottom: 3%;
                    width: 100%;
                    &.name,
                    &.email,
                    &.company {                    

                    }
                    .field {
                        background: $bgWhite;
                        padding:2% 0 0;
                        border: 1px solid $color-gallery;                    
                        @include border-radius(10px);

                        &.focused {
                            border: 1px solid $colorPurple;
                        }

                        label {
                            display: none;
                            padding: 0 0 0 3%;
                            &.active {
                                display: block;
                            }
                        }                
                        input[type=text],
                        input[type=email] {                    
                            width: 100%;
                            font-size: 16px;
                            border: none;
                            padding: 1% 6% 3%;;                
                            display: inline-block;
                            color: $color-mine-shaft;
                            @include border-radius(10px);
                        }
                        textarea:focus, 
                        input:focus {
                            outline: none;
                        }
                        ::placeholder{
                            color:$color-dove-gray;
                        }
                    }
                    .error-msg {
                        display: none;                        
                        color: $color-red;
                        padding: 2% 2% 0;                       
                        span {
                            color: $color-red;
                        }
                    }
                    // form error style
                    &.error{
                        //background: #b00000;
                        //border: 2px solid #b00000;
                        @include border-radius(10px);
                        .field {
                            border: 1px solid $color-red;
                            /*label,
                            input[type=text],
                            input[type=email],
                            ::placeholder {
                                color:$color-red;
                            }*/
                        }
                        .error-msg {
                            display: block;
                            position: relative;
                            width: 100%;
                            /*&::after{
                                content: "x";
                                position: absolute;
                                right: 2%;
                            }*/
                        }                        
                    }                    
                    
                    button#submit {
                        border: none;
                        color: $bgWhite;
                        font-size: 16px;
                        font-weight: bold;                    
                        background: $colorPurple;
                        width: 100%;
                        padding: 3% 0;          
                        @include border-radius(10px);

                        &:hover{
                            background-color:$color-mariner;
                        }
                    }
                }                 
            }
     
        }        
    }
    // member wrapper
    #memberWrap {
        display: none;
        margin: 35px 0 0;
        .content-wrap {
         
        }        
    }
}

// utilities
.text-white {
    color: $bgWhite;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.hide {
    display: none;
}
.show {
    display: block;
}
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
// animations
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes slideInRight {
  from {
    transform: translate3d(50%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
.fadeInRight {
  animation-name: fadeInRight;  
}
.slideInRight {
  animation-name: slideInRight;
}



