.index.container
  .wrapper.row
    .col-md-12
      // phone contents
      #phoneWrap.col-md-6.col-centered
        .phone-wrap
          img.img-responsive(src='img/s8_crop.png', alt='phone')
          .content-wrap
            .logo
              img.imglogo(src='img/logo.png', alt='logo')
            p.welcomeText
              | Welcome to Imfree, the world's 
              br
              | first IoMe free internet platform.
            .button-group
              button#bePartner
              //button#beMember
              a#beMember(href='#', target='_self')
      // form   
      #formWrap.col-md-6
        .form-wrap
          .content-wrap
            h2.text-center.text-white
              | Establish a mutually rewarding
              br
              | relationship with your
              br
              | target consumers.  
            form#subcription(action="#", method="post")
              .form-fields.name
                .field
                  label(for='name') Name (optional)
                  input#name(name='name', type='text', placeholder='Name (optional)')                
              #companyWrap.form-fields.company
                .field
                  label(for='company') Company
                  input#company(name='company', type='text', placeholder='Company')
                .error-msg 
                  span#companyErrText
              #emailWrap.form-fields.email
                .field
                  label(for='email') Email
                  input#email(name='email', type='text', placeholder='Email')
                .error-msg
                   span#emailErrText
              .form-fields.text-center
                button#submit SUMBIT    

