.index
  .phone-wrap.centerAbsoluteElement
    img(src='img/s8_crop.png', alt='phone')
    .content-wrap
      .logo
        img.imglogo(src='img/logo.png', alt='logo')
      p
        | Welcome to Imfree, the world's 
        br
        | first IoMe free internet platform.
      .button-group
        button#partner
        button#member
