head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
  title Imfree
  link(href='css/fixed-positioning.min.css', rel='stylesheet', type='text/css')  	
  link(href='fonts/stylesheet.css', rel='stylesheet', type='text/css')
  link(href='css/bootstrap.min.css', rel='stylesheet', type='text/css')
  link(href='css/main.min.css', rel='stylesheet', type='text/css')
  link(rel="icon", type="image/png", href="img/favicon.png")
  script(type='text/javascript', src='js/main.min.js')