.well{
  background-color: transparent;
  border:none;
  box-shadow: none;
}

.cookie-part{
  position:relative;
  img{
    position:absolute;
    &.logo{
      left:0;
      bottom:0;
      top:0;
      right:0;
    }
  }
}
