@font-face {
  font-family: 'Bariol';
  src: url("../fonts/Bariol.ttf") format("truetype"); }

@font-face {
  font-family: 'Bariol Bold';
  src: url("../fonts/Bariol_Bold.otf") format("truetype"); }

body #loading {
  display: block;
  background: #FFF;
  z-index: 200;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  body #loading img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 240px;
    height: 240px;
    margin-top: -120px;
    margin-left: -120px; }

html, body, div, span, p, a, del, em, img, ol, ul, li, fieldset, form, label {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1;
  font-family: 'Bariol';
  font-weight: 100;
  color: #292929; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  background: #eeeff0;
  /*background: -webkit-linear-gradient(top, #eeeeee, #cccccc 100%);
    background: -moz-linear-gradient(top, #eeeeee, #cccccc 100%);
    background: -o-linear-gradient(top, #eeeeee, #cccccc 100%);
    background: -ms-linear-gradient(top, #eeeeee, #cccccc 100%);
    background: linear-gradient(top, #eeeeee, #cccccc 100%);
    background-attachment:fixed;*/ }

ol, ul {
  list-style: none; }

p {
  margin: 1em 0;
  line-height: 1.5em;
  font-size: 1em; }

a {
  text-decoration: none;
  cursor: pointer; }

q {
  font-style: italic;
  color: #333; }

h1 {
  font-size: 2.61em;
  margin: 0;
  color: #323132;
  font-weight: 100; }

h1 > small {
  text-align: right;
  display: inline-block;
  font-size: .71em;
  text-indent: 15em;
  color: #444; }

h2 {
  color: inherit;
  font-size: 1.91em;
  margin: 2em 0 1em 0; }

h2:first-child {
  margin-top: 0; }

h3 {
  color: #333333;
  font-size: 1.91em;
  margin: .5em 0;
  font-weight: 100; }

h4 {
  color: #444;
  font-size: 1.5em;
  margin: 1em 0; }

.grey-color {
  color: #c1c1c1 !important; }

.pink-color {
  color: #ff008b !important; }

.blue-color {
  color: #0078ff !important; }

.yellow-color {
  color: #fad707 !important; }

.orange-yellow-color {
  color: #fbd906 !important; }

.white-color {
  color: #fff !important; }

html, body, div, span, p, a, del, em, img, ol, ul, li, fieldset, form, label {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1;
  font-family: 'Bariol';
  font-weight: 100;
  color: #292929; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  background: #eeeff0;
  /*background: -webkit-linear-gradient(top, #eeeeee, #cccccc 100%);
    background: -moz-linear-gradient(top, #eeeeee, #cccccc 100%);
    background: -o-linear-gradient(top, #eeeeee, #cccccc 100%);
    background: -ms-linear-gradient(top, #eeeeee, #cccccc 100%);
    background: linear-gradient(top, #eeeeee, #cccccc 100%);
    background-attachment:fixed;*/ }

ol, ul {
  list-style: none; }

p {
  margin: 1em 0;
  line-height: 1.5em;
  font-size: 1em; }

a {
  text-decoration: none;
  cursor: pointer; }

q {
  font-style: italic;
  color: #333; }

h1 {
  font-size: 2.61em;
  margin: 0;
  color: #323132;
  font-weight: 100; }

h1 > small {
  text-align: right;
  display: inline-block;
  font-size: .71em;
  text-indent: 15em;
  color: #444; }

h2 {
  color: inherit;
  font-size: 1.91em;
  margin: 2em 0 1em 0; }

h2:first-child {
  margin-top: 0; }

h3 {
  color: #333333;
  font-size: 1.91em;
  margin: .5em 0;
  font-weight: 100; }

h4 {
  color: #444;
  font-size: 1.5em;
  margin: 1em 0; }

.grey-color {
  color: #c1c1c1 !important; }

.pink-color {
  color: #ff008b !important; }

.blue-color {
  color: #0078ff !important; }

.yellow-color {
  color: #fad707 !important; }

.orange-yellow-color {
  color: #fbd906 !important; }

.white-color {
  color: #fff !important; }

#desktopversion {
  /** added **/
  /*animate part*/
  /* Safari 4.0 - 8.0 */ }
  #desktopversion #intro {
    width: 100%;
    text-align: center;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0; }
  #desktopversion #welcome-note {
    width: 100%;
    top: 20%;
    text-align: center;
    height: 100px; }
  #desktopversion #welcome-note h1 {
    margin: 0rem 0 2rem 0; }
  #desktopversion #welcome-note .sub-label {
    /*width:50%;*/
    margin: 4em auto;
    display: table; }
  #desktopversion #welcome-note p {
    font-size: 1.3em; }
  #desktopversion #welcome-note .sub-label .sub-content {
    display: table-cell;
    padding: 0 10px;
    font-size: 1em;
    opacity: 0;
    /*max-width:200px;*/
    width: 33%; }
  #desktopversion #welcome-note .sub-label.active .sub-content {
    opacity: 1; }
  #desktopversion #welcome-note .sub-label .sub-content.content1 {
    -webkit-transition: 1s ease-in;
    -moz-transition: 1s ease-in;
    -o-transition: 1s ease-in;
    transition: 1s ease-in; }
  #desktopversion #welcome-note .sub-label .sub-content.content2 {
    -webkit-transition: 2s ease-in;
    -moz-transition: 2s ease-in;
    -o-transition: 2s ease-in;
    transition: 2s ease-in; }
  #desktopversion #welcome-note .sub-label .sub-content.content3 {
    -webkit-transition: 3s ease-in;
    -moz-transition: 3s ease-in;
    -o-transition: 3s ease-in;
    transition: 3s ease-in; }
  #desktopversion #welcome-note p {
    width: 65%;
    margin: 0 auto; }
  #desktopversion #properties {
    width: 100%;
    height: 100%;
    padding-top: 10%;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  #desktopversion #easing_wrapper {
    width: 100%;
    height: 100%; }
  #desktopversion #easing {
    top: 10%;
    width: 50%;
    z-index: 101; }
  #desktopversion .drop {
    background: #09f;
    font-weight: bold;
    padding: 1em; }
  #desktopversion #download {
    width: 80%;
    left: 10%;
    height: 80%;
    padding: 3em;
    border: 0 solid #222;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  #desktopversion .twitter-share-button, #desktopversion .twitter-follow-button {
    vertical-align: middle; }
  #desktopversion .center {
    left: 50%;
    transform: translate(-50%, 0); }
  #desktopversion .cookie.whole {
    width: 30%; }
  #desktopversion .cookie.whole.open {
    display: none !important; }
  #desktopversion .cookie.broken.open {
    display: block !important;
    opacity: 1 !important; }
  #desktopversion .logo-middle.open {
    display: block !important;
    opacity: 1 !important; }
  #desktopversion .cookie.broken.broken-left.open {
    top: 14% !important;
    left: 21% !important;
    transform: rotate(4deg) !important; }
  #desktopversion .cookie.broken.broken-right.open {
    top: 40% !important;
    left: 56% !important;
    transform: rotate(5deg) !important; }
  #desktopversion .cookie.broken-left {
    width: 25%;
    top: 30%;
    left: 35%;
    transform: rotate(-5deg); }
  #desktopversion .cookie.broken-right {
    width: 18%;
    top: 35%;
    left: 47%;
    transform: rotate(17deg); }
  #desktopversion .cookiecrumbs {
    width: 10%; }
  #desktopversion .cookiecrumbs.crumb2 {
    width: 8%; }
  #desktopversion .cookiecrumbs.crumb3 {
    width: 12%; }
  #desktopversion .cookiecrumbs.crumb4 {
    width: 12%; }
  #desktopversion .cookiecrumbs.crumb4 {
    width: 13%; }
  #desktopversion .cookiecrumbs.crumb6 {
    width: 12%; }
  #desktopversion .logo-middle {
    width: 22%; }
  #desktopversion .parallax-bg {
    height: 100% !important;
    min-height: 100%;
    width: 100%;
    background-size: cover; }
  #desktopversion .parallax-bg.mobile {
    background: url("../img/mobile-bg.png") center center no-repeat;
    background-size: cover; }
  #desktopversion .parallax-bg.bottom {
    background: url("../img/content/9.png") center center no-repeat;
    background-size: cover; }
  #desktopversion .white-bg {
    background-color: #fff !important; }
  #desktopversion .black-bg {
    background-color: #222222 !important; }
  #desktopversion .content-section {
    min-height: 3200px;
    width: 100%;
    z-index: 999;
    background-color: #eeeff0;
    padding: 3em 0; }
  #desktopversion .content-section .contents {
    margin: 1em auto 0 auto;
    display: table;
    max-width: 1000px; }
  #desktopversion .contents.with-blackhole {
    width: 100%; }
  #desktopversion .contents .animation-container {
    position: relative;
    width: 100%;
    display: block;
    min-height: 300px; }
  #desktopversion .content-images {
    -webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    transition: all 1s ease-in;
    position: relative; }
  #desktopversion .content-images.right-img {
    left: 20%;
    opacity: 0; }
  #desktopversion .content-images.left-img {
    right: 20%;
    opacity: 0; }
  #desktopversion .content-images.right-img.animate {
    left: 0%;
    opacity: 1; }
  #desktopversion .content-images.left-img.animate {
    right: 0%;
    opacity: 1; }
  #desktopversion .contents .animation-container img {
    position: absolute;
    -webkit-transition-property: left;
    -webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    transition: all 1s ease-in; }
  #desktopversion .contents .animation-container img.blackhole-img {
    top: -14%; }
  #desktopversion .contents .animation-container img.pyramid {
    width: 47%;
    top: 20%;
    left: 9%;
    z-index: 7777;
    transform: scale(1, 1); }
  #desktopversion .contents .animation-container img.cycle-text {
    width: 86%;
    top: 11%;
    left: 52%;
    z-index: 8888;
    transform: scale(0, 0);
    opacity: 0; }
  #desktopversion .contents .animation-container.animate img.pyramid {
    /*left:70%;*/
    -webkit-animation: pyramid 2s forwards;
    /* Safari 4.0 - 8.0 */
    animation: pyramid 2s forwards; }
  #desktopversion .contents .animation-container.animate img.cycle-text {
    /*left:70%;*/
    -webkit-animation: cycletext 5s forwards;
    /* Safari 4.0 - 8.0 */
    animation: cycletext 5s forwards; }

@-webkit-keyframes pyramid {
  0% {
    left: 9%;
    top: 20%; }
  25% {
    left: 70%; }
  60% {
    left: 70%;
    top: 10%; }
  100% {
    left: 70%;
    top: 10%;
    transform: scale(0, 0); } }

@keyframes pyramid {
  0% {
    left: 9%;
    top: 20%; }
  25% {
    left: 70%; }
  60% {
    left: 70%;
    top: 10%; }
  100% {
    left: 70%;
    top: 10%;
    transform: scale(0, 0); } }

@-webkit-keyframes cycletext {
  0% {
    transform: scale(0, 0);
    opacity: 0; }
  30% {
    transform: scale(0, 0);
    opacity: 0; }
  100% {
    transform: scale(1, 1);
    opacity: 1; } }

@keyframes cycletext {
  0% {
    transform: scale(0, 0);
    opacity: 0; }
  30% {
    transform: scale(0, 0);
    opacity: 0; }
  100% {
    transform: scale(1, 1);
    opacity: 1; } }
  #desktopversion .contents .cont {
    display: table-cell; }
  #desktopversion .contents .cont.v-top {
    vertical-align: top; }
  #desktopversion .contents .cont.v-middle {
    vertical-align: middle; }
  #desktopversion .contents .cont.v-bottom {
    vertical-align: bottom; }
  #desktopversion .contents .cont.animation-wtext {
    padding: 4em 0; }
  #desktopversion .content-section .text-left {
    text-align: left; }
  #desktopversion .content-section .text-right {
    text-align: right; }
  #desktopversion .content-section .text-center {
    text-align: center; }
  #desktopversion .contents .cont h1 {
    margin: 0.2em 0px .7em 0; }
  #desktopversion .contents .cont img {
    width: 100%; }
  #desktopversion .contents .cont img.width-150 {
    width: 150%; }
  #desktopversion .contents .cont img.width-140 {
    width: 140%; }
  #desktopversion .contents .cont img.small-img {
    width: 5%;
    margin-top: -12px; }
  #desktopversion #welcome-note p img.small-img {
    width: 4%;
    margin: -15px 2px 0 2px; }
  #desktopversion .cont-41 {
    width: 41%; }
  #desktopversion .cont-28 {
    width: 28%; }
  #desktopversion .cont-36 {
    width: 36%; }
  #desktopversion .cont-57 {
    width: 57%; }
  #desktopversion .container {
    width: 100%; }
  #desktopversion .container .text-center {
    text-align: center; }
  #desktopversion .container h1 {
    margin: 0.2em 0px .7em 0; }
  #desktopversion #img2-div {
    position: relative;
    /*top: -169px;*/ }
  #desktopversion #img2-div p {
    text-align: center;
    font-size: 0.8em;
    font-style: italic; }
  #desktopversion .contents-table {
    margin: 2em auto 2.5em auto;
    display: table; }
  #desktopversion .contents-table-4 .content-t {
    width: 25%; }
  #desktopversion .contents-table-5 .content-t {
    width: 20%; }
  #desktopversion .contents-table .content-t {
    display: table-cell;
    text-align: center; }
  #desktopversion .contents-table .content-t.middle {
    vertical-align: middle; }
  #desktopversion .content-t p {
    min-height: 51px; }
  #desktopversion .content-t img {
    width: 50%; }
  #desktopversion .logos .content-t img {
    width: 60%; }
  #desktopversion .content-section.logos {
    max-height: 1500px; }
  #desktopversion .content-t span.arrow-bottom {
    margin-top: 20px;
    display: inline-block;
    font-size: 0.8em;
    position: relative;
    min-height: 50px; }
  #desktopversion .content-t span.arrow-bottom:after, #desktopversion .content-t span.arrow-bottom:before {
    bottom: 0;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  #desktopversion .content-t span.arrow-bottom :after {
    border-color: rgba(57, 105, 0, 0);
    border-bottom-color: #396900;
    border-width: 2px;
    margin-left: -2px; }
  #desktopversion .content-t span.arrow-bottom:before {
    border-color: rgba(57, 105, 0, 0);
    border-bottom-color: #396900;
    border-width: 8px;
    margin-left: -8px; }
  #desktopversion .footer-container {
    position: relative;
    display: block;
    /*margin:5em 0 0 0;*/
    margin: 0;
    padding: 2em 0;
    /*height:454px;*/
    height: 100vh;
    background-color: #222222; }
  #desktopversion .footer-container .contents {
    width: 900px;
    background-image: url(../img/footer-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
    margin: 0 auto; }
  #desktopversion .footer-container .contents .content-right {
    line-height: 1.8em; }
  #desktopversion .footer-container .contents h4 {
    margin: 1em 0 0; }
  #desktopversion .footer-container .contents .contact {
    margin-top: 0; }
  #desktopversion .footer-container .contents h4.address {
    margin: 2em 0 0;
    font-size: 1.2em; }
  #desktopversion .footer-container .contents p.address {
    font-size: 1.1em; }
  #desktopversion .footer-container span {
    padding: 0 2em 0 0; }
  #desktopversion .footer-container .contents .cont img {
    width: auto; }
  #desktopversion .footer-container .footer-text {
    padding: 0;
    position: absolute;
    width: 100%;
    top: 90%; }
  #desktopversion .footer-container ul {
    margin: 5em 0 0 0; }
  #desktopversion .footer-container ul li {
    margin: .1em 0; }
  #desktopversion .footer-container ul li.colored {
    margin: .9em 0;
    font-size: 1.3em; }
  #desktopversion .no-padding {
    padding: 0 !important; }
  #desktopversion .contents .cont img.egnmntprty,
  #desktopversion .egnmntprty {
    width: 15%;
    margin-bottom: 2px; }
  #desktopversion .footer-text img.egnmntprty,
  #desktopversion .egnmntprty {
    width: 7%;
    margin-bottom: 2px; }
  #desktopversion .singularity-me {
    max-width: 8em;
    height: auto;
    position: relative;
    top: 0.55em; }
  #desktopversion .img-internet-me {
    max-width: 6em;
    height: auto;
    position: relative;
    top: 0.45em; }
  #desktopversion .img-engmnt-prty {
    max-width: 6em;
    height: auto;
    position: relative;
    top: 0.2em; }
  @media only screen and (min-height: 640px) {
    #desktopversion .footer-container {
      height: 100vh; }
    #desktopversion .footer-container .footer-text {
      top: 85%; } }

#mobileversion {
  /* Extra small viewport or screen */
  /* Small viewport or screen */
  /* Medium viewport or screen */
  /* Large viewport or screen */ }
  #mobileversion h4 {
    color: #444;
    font-size: 1.5em;
    margin: 0.5em 0; }
  #mobileversion .section.top-part {
    margin-top: 1em;
    margin-bottom: 3.5em;
    background-image: url("../img/bg-circles.png");
    background-repeat: no-repeat;
    background-position: center 103%;
    background-size: contain; }
    #mobileversion .section.top-part h1 {
      margin: 5px 0 25px 0; }
    #mobileversion .section.top-part p {
      font-size: 1.3em; }
    #mobileversion .section.top-part .sub-label {
      margin: 10px 0 25px 0; }
      #mobileversion .section.top-part .sub-label .sub-content {
        padding: 5px 0;
        font-size: 1.3em; }
  #mobileversion .section.about-part {
    padding: 35px 0; }
    #mobileversion .section.about-part .row {
      padding: 1em 0; }
    #mobileversion .section.about-part h1 {
      margin: 20px 0 15px 0; }
    #mobileversion .section.about-part p {
      font-size: 1.3em;
      margin: 10px 0;
      line-height: 1.3em; }
    #mobileversion .section.about-part .content-table p {
      font-size: 1em;
      min-height: 54px; }
    #mobileversion .section.about-part img.img-responsive {
      margin: 0 auto; }
    #mobileversion .section.about-part img.small-img {
      width: 3%;
      margin-top: -15px; }
    #mobileversion .section.about-part img.egnmntprty {
      width: 15%; }
  #mobileversion .section.sponsors-part {
    padding: 35px 0; }
    #mobileversion .section.sponsors-part .page .row.logo:before {
      display: block; }
    #mobileversion .section.sponsors-part .page .row.logo {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      flex-wrap: wrap;
      padding: 10px 0; }
      #mobileversion .section.sponsors-part .page .row.logo > [class*='col-'] {
        display: flex;
        flex-direction: column;
        align-self: center; }
      #mobileversion .section.sponsors-part .page .row.logo > [class*='col-'] img {
        align-self: center; }
  #mobileversion .section.footer {
    background-color: #2d2d2d; }
    #mobileversion .section.footer .row {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      flex-wrap: wrap;
      padding: 10px 0; }
      #mobileversion .section.footer .row > [class*='col-'] {
        display: flex;
        flex-direction: column;
        align-self: center; }
      #mobileversion .section.footer .row > [class*='col-'] img {
        margin: auto; }
      #mobileversion .section.footer .row .right-text div {
        padding-top: 10px;
        padding-bottom: 10px; }
      #mobileversion .section.footer .row .right-text p {
        margin-top: 0; }
    #mobileversion .section.footer .footer-text .egnmntprty {
      width: 11%; }
  #mobileversion .cookie-part {
    position: relative; }
    #mobileversion .cookie-part img {
      position: absolute; }
      #mobileversion .cookie-part img.logo {
        left: 0;
        right: 0;
        margin: 0 auto; }
  @media only screen and (min-width: 320px) {
    #mobileversion .cookie-part {
      min-height: 300px; }
      #mobileversion .cookie-part img {
        position: absolute; }
        #mobileversion .cookie-part img.logo {
          width: 25%;
          top: 23%; }
        #mobileversion .cookie-part img.cookies.left {
          width: 42%;
          left: 4%;
          top: 7%; }
        #mobileversion .cookie-part img.cookies.right {
          width: 36%;
          left: 55%;
          top: 9%; }
        #mobileversion .cookie-part img.cookies.crumb-dot {
          width: 50%;
          top: 35%;
          left: 30%; }
    #mobileversion .section.top-part {
      background-position: center 53%; }
      #mobileversion .section.top-part img.small-img {
        width: 8%;
        margin-top: -12px; }
    #mobileversion .section.about-part img.egnmntprty {
      width: 33%; }
    #mobileversion .section.about-part img.small-img {
      width: 7%; }
    #mobileversion .section.sponsors-part .img-responsive {
      margin: 5px auto; }
    #mobileversion .section.sponsors-part .row.logo .col-xs-4 {
      min-height: 80px; }
    #mobileversion .section.footer {
      text-align: center; }
      #mobileversion .section.footer .left-footer img {
        margin: 0 auto; }
      #mobileversion .section.footer .footer-text img.egnmntprty {
        width: 30%; } }
  @media only screen and (min-width: 375px) {
    #mobileversion .cookie-part {
      min-height: 444px; }
      #mobileversion .cookie-part img {
        position: absolute; }
        #mobileversion .cookie-part img.logo {
          width: 25%;
          top: 23%; }
        #mobileversion .cookie-part img.cookies.left {
          width: 42%;
          left: 4%;
          top: 7%; }
        #mobileversion .cookie-part img.cookies.right {
          width: 36%;
          left: 55%;
          top: 9%; }
        #mobileversion .cookie-part img.cookies.crumb-dot {
          width: 50%;
          top: 35%;
          left: 30%; }
    #mobileversion .section.top-part {
      background-position: center 53%; }
    #mobileversion .section.about-part img.egnmntprty {
      width: 25%; }
    #mobileversion .section.about-part img.small-img {
      width: 8%;
      margin-bottom: -6px; }
    #mobileversion .section.sponsors-part .img-responsive {
      margin: 5px auto; }
    #mobileversion .section.footer .footer-text img.egnmntprty {
      width: 30%; } }
  @media only screen and (min-width: 414px) {
    #mobileversion .cookie-part {
      min-height: 444px; }
      #mobileversion .cookie-part img {
        position: absolute; }
        #mobileversion .cookie-part img.logo {
          width: 25%;
          top: 23%; }
        #mobileversion .cookie-part img.cookies.left {
          width: 42%;
          left: 4%;
          top: 7%; }
        #mobileversion .cookie-part img.cookies.right {
          width: 36%;
          left: 55%;
          top: 9%; }
        #mobileversion .cookie-part img.cookies.crumb-dot {
          width: 50%;
          top: 35%;
          left: 30%; }
    #mobileversion .section.top-part {
      background-position: center 53%; }
    #mobileversion .section.about-part img.egnmntprty {
      width: 25%; }
    #mobileversion .section.about-part img.small-img {
      width: 8%;
      margin-bottom: -6px; }
    #mobileversion .section.sponsors-part .img-responsive {
      margin: auto; }
    #mobileversion .section.footer .footer-text img.egnmntprty {
      width: 25%; } }
  @media only screen and (max-width: 480px) {
    #mobileversion .section.footer .footer-text .hidden-break-foot {
      display: block !important; } }
  @media only screen and (min-width: 568px) {
    #mobileversion .section.footer .footer-text .hidden-break-foot {
      display: none; }
    #mobileversion .section.footer .footer-text img.egnmntprty {
      width: 18%; } }
  @media only screen and (min-width: 736px) {
    #mobileversion .cookie-part {
      min-height: 653px; }
      #mobileversion .cookie-part img {
        position: absolute; }
        #mobileversion .cookie-part img.logo {
          width: 25%;
          top: 27%; }
        #mobileversion .cookie-part img.cookies.left {
          width: 42%;
          left: 4%;
          top: 7%; }
        #mobileversion .cookie-part img.cookies.right {
          width: 36%;
          left: 55%;
          top: 9%; }
        #mobileversion .cookie-part img.cookies.crumb-dot {
          width: auto;
          top: 46%;
          left: 30%; }
    #mobileversion .section.top-part img.small-img {
      width: 4%;
      margin-top: -16px; }
    #mobileversion .section.sponsors-part .img-responsive {
      margin: 5px auto; }
    #mobileversion .section.about-part img.egnmntprty {
      width: 20%; }
    #mobileversion .section.about-part img.small-img {
      width: 4%;
      margin-top: -18px; }
    #mobileversion .section.footer .row .left-footer {
      height: 100%;
      background-image: url("../img/footer-bg.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover; }
    #mobileversion .section.footer .footer-text img.egnmntprty {
      width: 15%; } }
  @media only screen and (min-width: 768px) {
    #mobileversion .cookie-part {
      min-height: 653px; }
      #mobileversion .cookie-part img {
        position: absolute; }
        #mobileversion .cookie-part img.logo {
          width: 25%;
          top: 27%; }
        #mobileversion .cookie-part img.cookies.left {
          width: 42%;
          left: 4%;
          top: 7%; }
        #mobileversion .cookie-part img.cookies.right {
          width: 36%;
          left: 55%;
          top: 9%; }
        #mobileversion .cookie-part img.cookies.crumb-dot {
          width: auto;
          top: 46%;
          left: 30%; }
    #mobileversion .section.sponsors-part .img-responsive {
      margin: 5px auto; }
    #mobileversion .section.footer .row .left-footer {
      height: 100%;
      background-image: url("../img/footer-bg.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover; } }
  @media only screen and (min-width: 1024px) {
    #mobileversion .cookie-part {
      min-height: 880px; }
      #mobileversion .cookie-part img {
        position: absolute; }
        #mobileversion .cookie-part img.logo {
          width: 25%;
          top: 27%; }
        #mobileversion .cookie-part img.cookies.left {
          width: auto;
          left: 4%;
          top: 7%; }
        #mobileversion .cookie-part img.cookies.right {
          width: auto;
          left: 54%;
          top: 9%; }
        #mobileversion .cookie-part img.cookies.crumb-dot {
          width: auto;
          top: 46%;
          left: 30%; }
    #mobileversion .section.footer .row .left-footer {
      height: 100vh;
      background-image: url("../img/footer-bg.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover; } }

@media only screen and (min-width: 1025px) {
  #mobileversion {
    display: none; }
  #desktopversion {
    display: block; } }

@media only screen and (max-width: 1024px) {
  #mobileversion {
    display: block; }
  #desktopversion {
    display: none; } }

.index {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  background: url("../img/bg-index.png") no-repeat top center;
  background-size: cover;
  margin: 0 auto; }
  .index .phone {
    margin: 0 auto;
    display: block; }
    .index .phone img {
      max-width: 100%; }
