<!-- Section Footer  -->
.section.footer
  .page.container
    .row
      .col-md-6.col-sm-6.col-xs-6.col-xs-offset-3.left-footer
        img.img-responsive(src='img/mobile/logo-footer.png')
      .col-md-6.col-sm-6.col-xs-12.right-text
        h3.grey-color Ask us for a demo
        p.white-color
          | Contact
          br
        .col-md-12
          h4.white-color Ledz Lim
          a.white-color.contact(href='mailto:ledz@imfreemobile.com') ledz@imfreemobile.com
          br
          a.white-color(href='tel:+639178441829') +63 9178441829
          br
          a.white-color(href='tel:025868576') +63 2 5868576
        .col-md-12
          h4.white-color Krhizzy Pasigan
          a.white-color.contact(href='mailto:krhizzy@imfreemobile.com')
            | krhizzy@imfreemobile.com
            a
              br
              a.white-color(href='tel:+639178441829') +63 9985301269
        .col-md-12
          h4.white-color.address IMFREE, INC.
          p.white-color.contact.address
            | Unit A, 8th Floor, W Fifth Avenue Building
            br
            |  5th Ave. corner 32nd St., Bonifacio Global City
            br
            |  1630 Taguig, Philippines
    p.text-center.white-color.footer-text
      | © Copyright 2017 Imfree Mobile Inc., 
      br.hidden-break-foot
      a.yellow-color(href='http://www.thehumanconnective.com', target='_blank') The Human Connective
      | , 
      img.egnmntprty(src='img/mobile/tep-white.png')


