<!-- Section 5  -->
.section.sponsors-part
  .page.container
    h1.text-center The smartest kids in the room.
    h3.text-center Already playing in the sandbox.
    .row.text-center.logo
      .col-md-2.col-sm-3.col-xs-4
        img.img-responsive(src='img/logos/client-logos_ascof-lagundi.png')
      .col-md-2.col-sm-3.col-xs-4
        img.img-responsive(src='img/logos/client-logos_betadine-powder-spray.png')
      .col-md-2.col-sm-3.col-xs-4
        img.img-responsive(src='img/logos/client-logos_betadine-gargle.png')
      .col-md-2.col-sm-3.col-xs-4
        img.img-responsive(src='img/logos/client logos_betadine femwash.png')
      .col-md-2.col-sm-3.col-xs-4
        img.img-responsive(src='img/logos/client-logos_calla.png')
      // /* test*/
      .col-md-2.col-sm-3.col-xs-4
        img.img-responsive(src='img/logos/client-logos_champion.png')
      .col-md-2.col-sm-3.col-xs-4
        img.img-responsive(src='img/logos/client-logos_clium.png')
      .col-md-2.col-sm-3.col-xs-4
        img.img-responsive(src='img/logos/client-logos_croley-foods.png')
      .col-md-2.col-sm-3.col-xs-4
        img.img-responsive(src='img/logos/client-logos_gatorade.png')
      .col-md-2.col-sm-3.col-xs-4
        img.img-responsive(src='img/logos/client-logos_hana.png')
      .col-md-2.col-sm-3.col-xs-4
        img.img-responsive(src='img/logos/client logos_huggies.png')
      .col-md-2.col-sm-3.col-xs-4
        img.img-responsive(src='img/logos/client logos_joy.png')
    .row.text-center.logo
      .col-md-2.col-sm-3.col-xs-4
        img.img-responsive(src='img/logos/client logos_kleenex.png')
      .col-md-2.col-sm-3.col-xs-4
        img.img-responsive(src='img/logos/client logos_kotex.png')
      .col-md-2.col-md-offset-2.col-sm-3.col-xs-4
        img.img-responsive(src='img/logos/client logos_moonleaf.png')
      .col-md-2.col-sm-3.col-xs-4
        img.img-responsive(src='img/logos/client logos_mothers best.png')
      .col-md-2.col-sm-3.col-xs-4
        img.img-responsive(src='img/logos/client logos_mountain dew.png')
      .col-md-2.col-sm-3.col-xs-4
        img.img-responsive(src='img/logos/client logos_oracare.png')
      .col-md-4.col-sm-3.col-xs-4
        img.img-responsive(src='img/logos/client logos_pepsi.png')
      .col-md-4.col-sm-3.col-xs-4
        img.img-responsive(src='img/logos/client logos_poten-cee.png')
      .col-md-4.col-sm-3.col-xs-4
        img.img-responsive(src='img/logos/client logos_sting-white.png')

