<!-- Section 1  -->
.section.top-part
  .page.container
    div
      h1.text-center
        | The digital cookie is
        br.hidden-xs
        |  about to crumble.
    .cookie-part.col-md-12.col-sm-12
      img.img-responsive.cookies.left(src='img/mobile/left-cookie-m.png')
      img.img-responsive.logo(src='img/mobile/logo-bg.png')
      img.img-responsive.cookies.right(src='img/mobile/right-cookie-m.png')
      img.img-responsive.cookies.crumb-dot(src='img/mobile/crumb-dot.png')
  .page.container
    h1.text-center
      | Welcome to Imfree, the world’s first
      br.hidden-xs
      | IoMe free internet platform.
    .sub-label.row.text-center
      .sub-content.content1.col-md-12.col-sm-12.col-xs-12 First was our mission - to make the internet free and open access to all.
      .sub-content.content2.col-md-12.col-sm-12.col-xs-12
        | Second we feel everyone is valuable to someone and they deserve to share that value.
      .sub-content.content3.col-md-12.col-sm-12.col-xs-12
        | Third, we believe people, are well, people 
        br.hidden-xs
        | and not products and they should control their
        br.hidden-xs
        | 	online data and privacy - completely.
    .row
      .col-md-12.col-sm-12.col-xs-12
        p.text-center
          | That’s what IoMe is. The internet of 
          img.small-img(src='img/mobile/ME.png')
          |  gives members complete control of their personal data distribution, value and privacy. They choose whom they want to engage with to unlock fair value that  allows them to organise their entire digital universe for free into the Imfree platform.



