<!-- Section Footer  -->
.section.footer
  .page.container
    .row
      .col-md-6.col-sm-6.col-xs-6.col-xs-offset-3.left-footer
        img.img-responsive(src='img/mobile/logo-footer.png')
      .col-md-6.col-sm-12.col-xs-12.right-text
        h3.grey-color Ask us for a demo
        p.white-color
          | Contact
          br
        .col-md-12
          h4.white-color Reggie Pinlac
          a.white-color.contact(href='mailto:reggie@imfreemobile.com')
            | reggie@imfreemobile.com
            a
              br
              a.white-color(href='tel:+63 9778340788') +63 9778340788
        .col-md-12
          h4.white-color.address IMFREE, INC.
          p.white-color.contact.address
            | Unit A, 8th Floor, W Fifth Avenue Building
            br
            |  5th Ave. corner 32nd St., Bonifacio Global City
            br
            |  1630 Taguig, Philippines
    p.text-center.white-color.footer-text
      | © Copyright 2018 
      | 
      a.yellow-color(href='http://imfreemobile.com/') Imfree Mobile Inc.
      |, 
      br.hidden-break-foot
      a.yellow-color(href='http://www.thehumanconnective.com', target='_blank') The Human Connective
      |, 
      a.yellow-color(href='http://www.engagementparty.co', target='_balnk') The Engagement Party
