<!-- Section 3  -->
.section.about-part
  .page.container
    .row
      .col-md-10.col-md-offset-1.col-sm-12.col-xs-12.text-center
        img.img-responsive(src='img/mobile/content/m1.png')
        h1
          | Remember free to air television. 
          br.hidden-xs
          | Now it's free for all internet.
        p
          | Imfree is the world’s first hyper-local mobile IoMe platform that enables 
          br.hidden-xs
          | open and honest shared value transactions between brands and consumers.
        p
          | Every engagement rewards our members and unlocks brand knowledge, 
          br.hidden-xs
          | intimacy and value for marketers. Imfree member rewards can be redeemed 
          br.hidden-xs
          | as phone load to make the internet free, as well as offers which redeem at 
          br.hidden-xs
          | retail for the products and things they love.
    .row
      .col-md-10.col-md-offset-1.col-sm-12.col-xs-12.text-center
        img.img-responsive(src='img/mobile/content/m2.png')
        h1
          | Direct human intelligence. 
          br.hidden-xs
          | Nothing artificial about it.
        p
          | Imfree members choose the brands they want to interact with whilst retaining full
          br.hidden-xs
          |  ownership and control of their personal data and privacy.
        p
          | Permission based, this enables powerful Imfree AI engines to present data from a 
          br.hidden-xs
          | unique member to infinitely customised levels of real time segmentation. Marketers 
          br.hidden-xs
          | have never had this hyper granularity before.
    .row
      .col-md-10.col-md-offset-1.col-sm-12.col-xs-12.text-center
        img.img-responsive(src='img/mobile/content/m3.png')
        h1 Scale was blind, but now you can see.
        p
          | Imfree’s proprietary Event Horizon Planner turns mass scale into me-visibility 
          br.hidden-xs
          | for products, brands and entire categories.
        p
          | Our singularity of  
          img.small-img(src='img/mobile/ME.png')
          |  analyses over 112 usage, attitudinal	and transactional data 
          br.hidden-xs
          | points to quantify and qualify consumer relationships that are singular to your product.
        p
          | The Event Horizon Planner uses real time AI to deploy optimised contextual content 
          br.hidden-xs
          | that recognises untapped pathways to product growth. This executes retargeted
          br.hidden-xs
          |  actionable content which delights members with an authentic product dialogue
          br.hidden-xs
          |  and a genuine understanding of their relationship.
    .row
      .col-md-10.col-md-offset-1.col-sm-12.col-xs-12.text-center
        img.img-responsive(src='img/mobile/content/m4.png')
        h1
          | Contextual creative conversations. 
          br
          | Now turnkey.
        p
          | Imfree has taken the pain away from marketers having to add another creative 
          br.hidden-xs
          | requirement to their roster by founding 
          img.egnmntprty(src='img/mobile/tep-gray.png')
          | .
        p
          img.egnmntprty(src='img/mobile/tep-gray.png')
          |  is the world’s first fit for purpose bespoke agency for IoMe and IoT 
          br.hidden-xs
          | creative. We’ve partnered with EVRYTHNG, a ground breaking global consumer products IoT company to 
          br.hidden-xs
          | create turnkey solutions to amplify and fast track cost effective 
          br.hidden-xs
          |  award winning creative solutions for our partners.
    .row
      .col-md-10.col-md-offset-1.col-sm-12.col-xs-12.text-center
        h1.text-center
          | Alpha and Beta-proofed with results that set new standards.
        p.text-center
          | After successful Alpha tests in 2015 and 2016, this year we hosted an Open Beta program that received over 12,000 member sign-ups. The results showed the Imfree member universe to be deeply engaged with our platform at perfomance levels never seen before.
        .content-table.col-md-12.col-sm-12.col-xs-12
          .col-md-3.col-md-offset-1.col-sm-4.col-xs-4
            img.img-responsive(src='img/mobile/icon1.png')
            h3
              span.count 44.20
              | %
            p
              | Daily Active Users
              br
              | (DAU)
          .col-md-3.col-md-offset-1.col-sm-4.col-xs-4
            img.img-responsive(src='img/mobile/icon2.png')
            h3
              span.count 1.78
              | X
            p
              | Sessions in-app 
              br
              | per Day
          .col-md-3.col-md-offset-1.col-sm-4.col-xs-4
            img.img-responsive(src='img/mobile/icon3.png')
            h3
              span.count 24.56
            p
              | Minutes Average
              br
              | Time In-App
              br
              | Per Day
          .col-md-3.col-md-offset-1.col-sm-4.col-xs-4
            img.img-responsive(src='img/mobile/icon4.png')
            h3
              span.count 79
              | %
            p
              | Average Convo 
              br
              | Completion
          .col-md-3.col-md-offset-1.col-sm-4.col-xs-4
            img.img-responsive(src='img/mobile/icon5.png')
            h3.conditionalspan
              span.count 7.59 
              span.small-text Min.  
            p
              | Average Time 
              br
              | In Convo
          .col-md-3.col-md-offset-1.col-sm-4.col-xs-4
            img.img-responsive(src='img/mobile/icon6.png')
            h3
              span.count 37
              | %
            p
              | Cummulative Daily 
              br
              | Growth Rate
    .row
      .col-md-10.col-md-offset-1.col-sm-12.col-xs-12.text-center
        img.img-responsive(src='img/mobile/content/m5.png')
        h1
          | Singular engagements.
          br
          | Measured in the blink of an eye.
        p
          | The Event Horizon Planner recognises singular interactions and data in 1 - 250th
          br.hidden-xs
          |  millionth of a second. Usage, attitudes and sales transactions now occur in the 
          br.hidden-xs
          | blink of an eye for marketers. We wanted to give you real time,
          br.hidden-xs
          |  and felt this was a good beginning.
    .row
      .col-md-10.col-md-offset-1.col-sm-12.col-xs-12.text-center
        img.img-responsive(src='img/mobile/content/m6.png')
        h1 R&D is now real time.
        p
          | One outcome of powerful customer knowledge is the ability to innovate products or 
          br.hidden-xs
          | business. With Imfree you can segment, recruit and test traditional R&D programs with 
          br.hidden-xs
          | results available in less than 72 hours.  You can also re-test and iterate with intimate or 
          br.hidden-xs
          | mass bases of members with infinite split testing segmentation, in the same amount 
          br.hidden-xs
          | of time. The guys in the white coats thought this was really helpful.
    .row
      .col-md-10.col-md-offset-1.col-sm-12.col-xs-12.text-center
        img.img-responsive(src='img/mobile/content/m7.png')
        h1
          | Goodbye marketing funnel. 
          br.hidden-xs
          | Hello consumer tunnel.
        p
          | Imfree took the entire conversion funnel and closed the gap 
          br.hidden-xs
          | from awareness to sales to the distance of a thumb tap. In
          br.hidden-xs
          | Apollo testing, 79% of all available convos offered to 
          br.hidden-xs
          | members were completed. Of these, 100% of offers 
          br.hidden-xs
          | converted into product transactions that were traceable 
          br.hidden-xs
          | by member singularity, location and value.
