<!-- Section Footer  -->
.footer-container
  .contents
    .content-left.cont-50.cont.v-middle
      img.content-images(src='img/logo-footer.png')
    .content-right.cont-50.cont.v-middle
      h3.grey-color Ask us for a demo
      p.white-color
        | Contact
        br
      h4.white-color Ledz Lim
      a.white-color.contact(href='mailto:ledz@imfreemobile.com') ledz@imfreemobile.com
      br
      a.white-color(href='tel:+639178441829') +63 9178441829
      br
      a.white-color(href='tel:025868576') +63 2 5868576
      h4.white-color Kristina Rita
      a.white-color.contact(href='mailto:tina@imfreemobile.com')
        | tina@imfreemobile.com
        a
          br
          a.white-color(href='tel:+63 915 817 0504') +63 915 817 0504
          h4.white-color.address IMFREE, INC.
          p.white-color.contact.address
            | Unit A, 8th Floor, W Fifth Avenue Building
            br
            |             5th Ave. corner 32nd St., Bonifacio Global City
            br
            |             1630 Taguig, Philippines
  p.text-center.white-color.footer-text
    | © Copyright 2017 Imfree Mobile Inc., 
    a.yellow-color(href='http://www.thehumanconnective.com', target='_blank') The Human Connective
    | , 
    img.egnmntprty(src='img/tep-white.png')
