<!-- Section 3  -->
.parallax-bg.mobile(data-0='display:none;', data-3000='display:block;height:100%;top:100%;width:100%;z-index:1;', data-5500='top:0%;', data-10000='top:-10%;opacity:1;', data-15000='opacity:0;')
  img.center.top-cricles(data-0='display:none;', data-2500='display:block;top:20%;', data-6500='top:-10%;', data-7000='top:-30%;', data-10500='top:-100%;', src='img/bubbles1.png')
