<!-- Section 4  -->
.content-section(data-0='display:none;', data-4000='top:110%;display:block;z-index:2', data-5500='top:100%;', data-10000='top:0%;transform:translate3d(0px, 0px, 0px);', data-20500='transform:translate3d(0px, -3500px, 0px)')
  .contents
    .content-left.cont-41.cont.v-middle
      h1
        | Remember free to air television. 
        br
        | Now it's free for all internet.
      p
        | Imfree is the world’s first hyper-local mobile IoMe platform that enables open 
        br
        | and honest shared value transactions between brands and consumers.
      p
        | Every engagement rewards our members and unlocks brand knowledge, 
        br
        | intimacy and value for marketers. Imfree member rewards can be redeemed 
        br
        | as phone load to make the internet free, as well as offers which redeem at 
        br
        | retail for the products and things they love.
    .content-right.cont-36.cont.v-middle
      img.content-images.right-img.img1(src='img/content/1.png')
  .contents
    .content-left.cont-36.cont.v-middle
      #img2-div
        img.content-images.left-img.img2(src='img/content/2.png')
        p
          | T.E.H.P is a proprietary data management platform 
          br
          | that provides near-real time, contextual and
          br
          |  actionable data metrics.
    .content-right.cont-41.cont.v-middle
      h1.text-right
        | Direct human intelligence.
        br
        | Nothing artificial about it.
      p.text-right
        | Imfree members choose the brands they want to interact with whilst 
        br
        | retaining full ownership and control of their personal data and privacy.
      p.text-right
        | Permission based, this enables powerful Imfree AI engines to present 
        br
        | data from a unique member to infinitely customised levels of real time 
        br
        | segmentation. Marketers have never had this hyper granularity before.
  .contents
    .content-left.cont-57.cont.v-top
      h1 Scale was blind, but now you can see.
      p
        | Imfree’s proprietary Event Horizon Planner turns mass scale
        br
        | into me-visibility for products, brands and entire categories.
      p
        | Our singularity of  
        img.small-img(src='img/ME.png')
        | analyses over 112 usage, attitudinal
        br
        | and transactional data points to quantify and qualify consumer 
        br
        | relationships that are singular to your product.
      p
        | The Event Horizon Planner uses real time AI to deploy 
        br
        | optimised contextual content that recognises untapped pathways 
        br
        | to product growth. This executes retargeted actionable content 
        br.hidden-xs
        | which delights members with an authentic product dialogue 
        br
        | and a genuine understanding of their relationship.
    .content-right.cont-36.cont.v-bottom
      img.content-images.right-img.img3(src='img/content/3.png')
  .contents
    .content-left.cont-28.cont.v-middle
      div
        img.content-images.left-img.img4(src='img/content/4.png')
    .content-right.cont-57.cont.v-top
      h1.text-right
        | Contextual creative conversations.
        br
        | Now turnkey.
      p.text-right
        | Imfree has taken the pain away from marketers having to add another 
        br
        | creative requirement to their roster by founding 
        a(href='https://engmntprty.com/',target='_blank', title='The Engmntprty')
          img.egnmntprty(src='img/TEPlogo.svg')
      p.text-right
        a(href='https://engmntprty.com/',target='_blank', title='The Engmntprty')
          img.egnmntprty(src='img/TEPlogo.svg')
        |  is the world’s first fit for purpose bespoke agency for IoMe 
        br
        | and IoT creative. We’ve partnered with EVRYTHNG, a ground breaking global 
        br
        | consumer products IoT company to create turnkey solutions to amplify 
        br
        | and fast track cost effective award winning creative solutions for our partners.
  .container
    h1.text-center
      | Alpha and Beta-proofed with results
      br
      | that set new standards.
    p.text-center
      | After successful Alpha test in 2015 and 2016, this year we hosted an Open Beta program that received over 12,000
      br
      | member sign-ups. The results showed the Imfree member universe to be deeply engaged with our platform
      br
      | at perfomance level never seen before.
    .contents-table
      .content-t
        img(src='img/icon1.png')
        h3
          span.count 44.20
          | %
        p
          | Daily Active Users
          br
          | (DAU)
      .content-t
        img(src='img/icon2.png')
        h3
          span.count 1.78
          | X
        p
          | Sessions in-app 
          br
          | per Day
      .content-t
        img(src='img/icon3.png')
        h3
          span.count 24.565
        p
          | Minutes Average
          br
          | Time In-App
          br
          | Per Day
      .content-t
        img(src='img/icon4.png')
        h3
          span.count 79
          | %
        p
          | Average Convo 
          br
          | Completion
      .content-t
        img(src='img/icon5.png')
        h3
          span.count 7.59 
          |  Min.
        p
          | Average Time
          br
          | In Convo
      .content-t
        img(src='img/icon6.png')
        h3
          span.count 37
          | %
        p
          | Cummulative Daily 
          br
          | Growth Rate
  .contents
    .content-left.cont-28.cont.v-middle
      div
        img.content-images.left-img.img5(src='img/content/6.png')
    .content-right.cont-57.cont.v-top
      h1.text-right
        | Singular engagements.
        br
        | Measured in the blink of an eye.
      p.text-right
        | The Event Horizon Planner recognises singular interactions 
        br
        | and data in 1 - 250th millionth of a second. Usage, attitudes 
        br
        | and sales transactions now occur in the blink of an eye for 
        br
        | marketers. We wanted to give you real time, 
        br
        | and felt this was a good beginning.
  .contents
    .content-left.cont-41.cont.v-middle
      h1 R&D is now real time.
      p
        | One outcome of powerful customer knowledge is the ability to 
        br
        | innovate products or business. With Imfree you can segment, 
        br
        | recruit and test traditional R&D programs with results available 
        br
        | in less than 72 hours.  You can also re-test and iterate with 
        br
        | intimate or mass bases of members with infinite split testing 
        br
        | segmentation, in the same amount of time. The guys in the 
        br
        | white coats thought this was really helpful.
    .content-right.cont-36.cont.v-middle
      img.content-images.right-img.img6(src='img/content/7.png')
  .contents.with-blackhole
    .content-left.cont-36.cont.v-middle
      .animation-container
        img.content-images.pyramid(src='img/content/07A.png')
        img.content-images.cycle-text(src='img/content/07B.png')
        img.content-images.width-150.blackhole-img(src='img/content/07C.png')
    .content-right.cont-57.cont.v-bottom.animation-wtext
      h1.text-right
        | Goodbye marketing funnel.
        br
        | Hello consumer tunnel.
      p.text-right
        | Imfree took the entire conversion funnel and closed the gap 
        br
        | from awareness to sales to the distance of a thumb tap. In
        br
        | Apollo testing, 79% of all available convos offered to 
        br
        | members were completed. Of these, 100% of offers 
        br
        | converted into product transactions that were traceable 
        br
        | by member singularity, location and value.
