<!-- Section 1  -->
#intro(data-0='opacity:1;top:5%;transform:rotate(0deg);transform-origin:0 0;', data-500='top:-15%;')
  h1
    | The digital cookie is
    br
    | about to crumble.
img.cookie.whole.center(data-0='opacity:1;top:30%;display:block;z-index:10;', data-100='top:30%;display:none;z-index:10;', src='img/whole-cookie.png')
// leftcookie
img.cookie.broken-left.broken(data-70='opacity:0;top:31%;left:35%;transform: rotate(-5deg);', data-100='opacity:1;z-index:9;', data-500='top: 14%;left: 21%;transform:rotate(4deg);', data-1200='opacity:0;display:block;', data-2500='opacity:0;display:none;', src='img/left-cookie.png')
// rightcookie
img.cookie.broken-right.broken(data-70='opacity:0;top:35%;left:47%;transform: rotate(17deg);', data-100='opacity:1;z-index:8;', data-500='top: 40%;left: 56%;transform: rotate(5deg);', data-1200='opacity:0;display:block;', data-2500='opacity:0;display:none;', src='img/right-cookie.png')
// logo
img.logo-middle.top.center(data-80='opacity:0;z-index:7;', data-100='opacity:1;top:41%;', data-500='top:41%;', data-900='top:41%;', data-2000='top:41%;', data-2900='top:5%;', data-5500='top:-100%', src='img/logo-bg.png')
// crumbs
img.cookiecrumbs.crumb1(data-80='opacity:0;z-index:6;', data-100='opacity:1;top:41%;left:50%;', data-500='top: 93%;left: 64%;', data-1200='opacity:0;', src='img/cookiecrumb1.png')
img.cookiecrumbs.crumb2(data-80='opacity:0;z-index:6;', data-100='opacity:1;top:41%;left:50%;', data-500='top: 59%;left: 72%;transform: rotate(1deg);', data-1200='opacity:0;', src='img/cookiecrumb2.png')
img.cookiecrumbs.crumb3(data-80='opacity:0;z-index:6;', data-100='opacity:1;top:41%;left:50%;', data-500='top: 21%;left: 57%;transform: rotate(13deg);', data-1200='opacity:0;', src='img/cookiecrumb3.png')
img.cookiecrumbs.crumb4(data-80='opacity:0;z-index:6;', data-100='opacity:1;top:45%;left:55%;', data-500='top: 86%;left: 37%;', data-1200='opacity:0;', src='img/cookiecrumb4.png')
img.cookiecrumbs.crumb5(data-80='opacity:0;z-index:6;', data-100='opacity:1;top:41%;left:40%;', data-500='top: 36%;left: 16%', data-1200='opacity:0;', src='img/cookiecrumb5.png')
img.cookiecrumbs.crumb6(data-80='opacity:0;z-index:7;', data-100='opacity:1;top:41%;left:38%;', data-500='top:68%;left: 23%;transform: rotate(6deg);', data-1200='opacity:0;', src='img/cookiecrumb6.png')
img.center.top-cricles(data-80='opacity:0;z-index:6;', data-100='opacity:1;top:80%;left:50%;', data-500='top:80%;', data-900='top:66%;', data-1500='top:39%;', data-3000='top:-84%;', data-7000='top:-150%', src='img/top-circles.png')


