<!-- Section 6  -->
#last-part.content-section.white-bg.logos(data-0='display:none;', data-20000='top:100%;display:block;', data-25000='top:0;transform:translate3d(0px, 0px, 0px);', data-28000='transform:translate3d(0px,-500px, 0px);')
	h1.text-center The smartest kids in the room.
	h3.text-center Already playing in the sandbox.
	.contents-table.contents-table-5
		.content-t.middle
			img(src='img/logos/client-logos_ascof-lagundi.png')
		.content-t.middle
			img(src='img/logos/client-logos_betadine-powder-spray.png')
		.content-t.middle
			img(src='img/logos/client-logos_betadine-gargle.png')
		.content-t.middle
			img(src='img/logos/client logos_betadine femwash.png')
		.content-t.middle
			img(src='img/logos/client-logos_calla.png')
	.contents-table.contents-table-4
		.content-t.middle
			img(src='img/logos/client-logos_champion.png')
		.content-t.middle
			img(src='img/logos/client-logos_clium.png')
		.content-t.middle
			img(src='img/logos/client-logos_croley-foods.png')
		.content-t.middle
			img(src='img/logos/client-logos_gatorade.png')
	.contents-table.contents-table-5
		.content-t.middle
			img(src='img/logos/client-logos_hana.png')
		.content-t.middle
			img(src='img/logos/client logos_huggies.png')
		.content-t.middle
			img(src='img/logos/client logos_joy.png')
		.content-t.middle
			img(src='img/logos/client logos_kleenex.png')
		.content-t.middle
			img(src='img/logos/client logos_kotex.png')
	.contents-table.contents-table-4
		.content-t.middle
			img(src='img/logos/client logos_moonleaf.png')
		.content-t.middle
			img(src='img/logos/client logos_mothers best.png')
		.content-t.middle
			img(src='img/logos/client logos_mountain dew.png')
		.content-t.middle
			img(src='img/logos/client logos_oracare.png')
	.contents-table.contents-table-5
		.content-t.middle
		.content-t.middle
			img(src='img/logos/client logos_pepsi.png')
		.content-t.middle
			img(src='img/logos/client logos_poten-cee.png')
		.content-t.middle
			img(src='img/logos/client logos_sting-white.png')
		.content-t.middle

	include section-footer  	
  
