<!-- Section 5  -->
.parallax-bg.bottom(data-0='display:none;', data-18000='display:block;top:100%;', data-20000='top:0%;', data-28000='top:-100%;')
  img.center(data-0='display:none;', data-19000='display:block;top:25%;', data-23000='top:5%;', data-25000='top:-100%;', src='img/parallax-letters.png')
