<!-- Section Footer  -->
.footer-container
  .contents
    .content-left.cont-50.cont.v-middle
      img.content-images(src='img/logo-footer.png')
    .content-right.cont-50.cont.v-middle
      h3.grey-color Ask us for a demo
      p.white-color
        | Contact
        br
      h4.white-color Eric Centeno
      a.white-color.contact(href='mailto:eric@imfreemobile.com')
        | eric@imfreemobile.com
        a
          br
          a.white-color(href='tel:+639189447108') +63 918 944 7108
          h4.white-color.address IMFREE, INC.
          p.white-color.contact.address
            | Unit 1, 11th Floor, ACCRALAW Tower 
            br
            |             2nd Ave., corner 30th St., Crescent Park West
            br
            |             Bonifacio Global City 1635 Taguig, Philippines
  p.text-center.white-color.footer-text
    | © Copyright 2018 
    | 
    a.yellow-color(href='http://imfreemobile.com/') Imfree Mobile Inc.
    |, 
    a.yellow-color(href='http://www.thehumanconnective.com', target='_blank') The Human Connective
    |, 
    a.yellow-color(href='https://engmntprty.com/', target='_balnk') The Engmntprty
