<!-- Section 2  -->
#welcome-note(data-1500='top:100%', data-3000='top:28%;', data-6600='top:-100%')
  h1
    | Welcome to Imfree, the world’s first
    br
    | 			IoMe free internet platform.
  .sub-label
    .sub-content.content1
      | First was our mission -
      br
      | 					to make the internet free
      br
      | 					and open access to all.
    .sub-content.content2
      | Second we feel everyone is valuable to
      br
      | 					someone and they deserve
      br
      | 					to share that value.
    .sub-content.content3
      | Third, we believe people, are well, people
      br
      | and
      | 					not products and they should control their
      br
      | 					online data and privacy - completely.
  p
    | That’s what IoMe is. The internet of  
    img.small-img(src='img/ME.png')
    |   gives members complete control of their personal data
    br
    |  distribution, value and privacy. They choose whom they want to engage with to unlock fair value that
    br
    |  allows them to organise their entire digital universe for free into the Imfree platform.
